{
    "presets": [
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-arrow-functions",
        "@babel/plugin-transform-destructuring",
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-transform-template-literals"
    ]
}
